<% provide(:title, "Search Results") %>

<h2 class="center-align">Search Results for "<%= params[:search] %>"</h2>


<br>

<% if @articles.blank? %>
  <h4 class="center-align">There are no articles named "<%= params[:search] %>"</h4>
<% end %>

<!--<div class = 'col s3'>
<%= form_tag(articles_path, :method => :get) do %>
  <b><%= label_tag(:q, "Sort by") %></b>
  <%= select_tag(:sort_id, options_for_select(Article::SORT_BY), :selected => 1) %>
<% end %>
</div>-->

<table class="centered black-text">
  <thead>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><h6><%= link_to article.title.gsub("_", " "), article, target: :_blank %></h6></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Categories</th>
      <th>Cited domains</th>
      <th>Cited authors</th>
      <th>Quality</th>
      <th>Importance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.categories %></td>
        <td><%= article.cited_domains %></td>
        <td><%= article.cited_authors %></td>
        <td><%= article.quality %></td>
        <td><%= article.importance %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>-->
