<% provide(:title, @article.title) %>

<p id="notice"><%= notice %></p>

<%= link_to 'Check out the Wikipedia article here!', 'https://en.wikipedia.org/wiki/' << @article.title %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Categories:</strong>
  <!--<%= @article.categories %>-->
  <% @delimited_categories.each do |category| %>
    <li><%= category %></li>
  <% end %>
</p>

<p>
  <strong>Cited domains:</strong>
  <%= @article.cited_domains %>
</p>

<p>
  <strong>Cited authors:</strong>
  <%= @article.cited_authors %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @article.quality %>
</p>

<p>
  <strong>Importance:</strong>
  <%= @article.importance %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
