<% provide(:title, "About") %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link rel=icon href="images/favicon.png">
  <title>About</title>

  <!-- CSS  -->
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>

  <%= stylesheet_link_tag "materialize", media: "all" %>

  <%= stylesheet_link_tag "style", media: "all" %>

  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto+Slab|Overpass" %>
</head>
<body>
  <!--<header>
    <nav class="blue" role="navigation">
      <div class="nav-wrapper container">
        <a href="index.html" class="brand-logo center"><%= image_tag "logo_sm.svg" %></a>
        <ul class="right">
          <li><a href="">Browse</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
  
        <ul id="nav-mobile" class="side-nav">
          <li><a href="">Browse</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </header>-->

  <main>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col s12 m9 l10">
          <div id="intro" class="section scrollspy">
            <h3 class="center">Our Objective</h3>
            <p>Wikipedia is a crowdsourced online encyclopedia founded in 2001. With the goal of centralizing all of human knowledge, it attempts to be a neutral, global, and uncensored source of free information. Wikipedia is ranked number seven on the world’s most popular websites, holds a top priority on search engines, and has been estimated  to be worth hundreds of billions of dollars. Wikipedia articles have been cited in hundreds of court cases.</p>

            <p>However, despite such prominence, Wikipedia has systemic problems — 90% of Wikipedians are male, and 40% of the world’s population has access to the internet. Editors are often from white collar backgrounds, have stronger technical abilities, have more free time on their hands, are more frequently from the Northern Hemisphere, and common languages and Western culture are more heavily represented. The list goes on and on, and we think you get the point; <i>Wikipedia is primarily edited by a smaller population which inevitably leads to bias</i>. This has created a <ins>disconnect between what’s important and what’s covered</ins>. In this day and age, such an issue cannot be overlooked.</p>

            <p>WikiClassify is our solution. Whenever a user is viewing a Wikipedia article, WikiClassify will activate. WikiClassify will analyze the content of the article and rate the quality of it, giving the user a good idea of whether or not they are looking at an article with quality information. </p>
          </div>
    

          <div id="wikiclassification" class="section scrollspy">
            <h3 class="center">WikiClassification</h3>
            <p>Each article is evaluated by our algorithm, and its results are presented as a report card. An example report card is displayed below, with descriptions of its components on the right.</p>

     		<div class="container">
		      <div class="row">
		        <!--<div class="col s3"></div>--> 
		        <div class="col s6">
		          <h2 class="center-align">Example Article</h2>
		          <h4 class="center-align">Report card</h4>
		          <table class="centered black-text">
		            <thead>
		              <tr>
		                  <th data-field="id"></th>
		                  <th data-field="name"><a class="black-text" href="https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Wikipedia/Assessment#Importance_scale">Importance</a></th>
		                  <th data-field="price"><a class="black-text" href="https://en.wikipedia.org/wiki/Template:Grading_scheme">Quality</a></th>
		              </tr>
		            </thead>
		            <tbody>
		              <tr>
		                <td>WikiClassify Score</td>
		                <td>		                  		          
		                  <div class="chip blue white-text">Top</div>
		                </td>
		                <td>
		                  <div class="chip teal white-text">Featured</div>
						</td>
		              </tr>
		            </tbody>
		          </table>
		          
		          <h4 class="center-align">Categories</h4>
		          <div class="center-align">
		            <div class="chip"><div class = "black-text">Category 1</div></div>
		            <div class="chip"><div class = "black-text">Category 2</div></div>
		            <div class="chip"><div class = "black-text">Category 3</div></div>
		            <div class="chip"><div class = "black-text">......</div></div>
		            <div class="chip"><div class = "black-text">You get the point</div></div>
		          </div>

		          <h4 class="center-align">Cited Domains</h4>
		          <div class="center-align">
		            <div class="chip"><div class = "black-text">http://www.ThisIsAWebsite.com</div></div>
		            <div class="chip"><div class = "black-text">ExampleWebsite.edu</div></div>
		            <div class="chip"><div class = "black-text">WikiClassifyIsDope.org</div></div>
		          </div>

		          <h4 class="center-align">Cited Authors</h4>
		          <div class="center-align"> 
		            <div class="chip"><div class = "black-text">Wayne Sun</div></div>
		            <div class="chip"><div class = "black-text">Brian Faure</div></div>
		            <div class="chip"><div class = "black-text">Nathan Kjer</div></div>
		            <div class="chip"><div class = "black-text">Luke Wielgus</div></div>
		          </div>
		          
		          <h4 class="center-align">Closest Articles</h4>
		           	<div class="center-align">
		          	  <div class="chip"><div class = "black-text">Unexceptional Article</div></div>
		          	  <div class="chip"><div class = "black-text">Mainstream Article</div></div>
		          	  <div class="chip"><div class = "black-text">Stereotypical Article</div></div>		         
		            </div>
		        </div>
		        <!--<div class="col s3"></div>-->
		        <div class="col s6">
            	<ul class="collection">
            		<li class="collection-item">Articles are graded based on <b>Importance</b> and <b>Quality</b>.<ul>
            			<li class="collection-item">Articles are given four possible grades for importance: <i>Top</i>, <i>High</i>, <i>Mid</i>, <i>Low</i>. This grade indicates how relevant and significant the article's subject is to its specific field. More information can be found <%= link_to "here", "https://en.wikipedia.org/wiki/Template:Importance_scheme" %>.
            			<li class="collection-item">Articles are given seven possible grades for quality in our system: <i>Featured</i>, <i>A-Class</i>, <i>Good</i>, <i>B</i>, <i>C</i>, <i>Start</i>, <i>Stub</i>. This grade indicates how well put together the article is in terms of reader experience, accuracy, completeness, etc. More information can be found <%= link_to "here", "https://en.wikipedia.org/wiki/Template:Grading_scheme" %>.
            			</ul>
            		</li>

            		<li class="collection-item">Similar to a student enrolling in certain majors in college or subjects in school, each article falls under certain <i>Categories</i>. Each article's report card contains its categories, and links to those categories for more information about them.

            		<li class="collection-item">Everyone comes from somewhere, whether you specify that by your home address or country, or your parents or ancestors; everyone is made up of a mix of different details, features, and thoughts. Similarily, each article has its own <i>Cited Domains</i> and <i>Cited Authors</i> that result in the content that is seen in that article. We display this so that viewers can see from who and where this article truly originated from. For your ease, links to the cited domains are provided.</li>

            		<li class="collection-item">With all the information we have gathered, we can determine an article's <i>"Closest Articles"</i>. These are determined by similarities in all the attributes of the articles. If an article was a person, the closest articles would be this person's best friends.</li>

            		<li>  
            	</ul>
            </div> 
		      </div>
		    </div>
		    
          </div>



          <!--<div id="model" class="section scrollspy">
            <h2 class="center">Our Model</h2>
            <div class="row">
              <div class="col s12">
                <div class="card">
                  <div class="card-image">
                    <%=image_tag "preprocessing.gif" %>
                    <span class="card-title">Card Title</span>
                  </div>
                  <div class="card-content" style="border-top:1px solid rgba(160, 160, 160, 0.2);">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                  </div>
                  <div class="card-action center-align">
                    <a href="https://de.dariah.eu/tatom/preprocessing.html" class="blue-text">Read more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
    
          <div id="team" class="section scrollspy">
            <h3 class="center">Our Team</h3>

            <div class="row">
              <div class="col s3">
                <div class="card">
                  <div class="card-content center-align">
                    <!--<img class="circle" height="100px" src="https://s3.amazonaws.com/nvest/Blank_Club_Website_Avatar_Gray.jpg">-->
                    <%= image_tag "https://avatars2.githubusercontent.com/u/10341772?v=3&s=460", :height => "100px" %><br>
                    <span class="card-title" style="font-size:12pt;">Brian Faure</span>
                  </div>
                  <div class="card-action red center-align">
                    <a class="black-text" href="https://github.com/bfaure"><!--<img src="images/github.svg" style="height:20px;">--><%= image_tag "github.svg", :height => "20px"%></a>
                    <br>
                    <br>
                    <a class="black-text" href="https://www.linkedin.com/in/brian-faure-03a656a7/"><%= image_tag "linkedin.png", :height => "20px"%></a>
                  </div>
                </div>
              </div>
              <div class="col s3">
                <div class="card">
                  <div class="card-content center-align">
                    <!--<img class="circle" height="100px" src="https://s3.amazonaws.com/nvest/Blank_Club_Website_Avatar_Gray.jpg">--><%= image_tag "https://avatars3.githubusercontent.com/u/10952207?v=3&s=460", :height => "100px" %><br>
                    <span class="card-title" style="font-size:12pt;">Nathan Kjer</span>
                  </div>
                  <div class="card-action orange center-align">
                    <a class="black-text" href="https://github.com/nathankjer"><!--<img src="images/github.svg" style="height:20px;">--><%= image_tag "github.svg", :height => "20px" %></a>
                    <br>
                    <br>
                    <a class="black-text" href="https://www.linkedin.com/in/nathan-kjer-7404746a/"><%= image_tag "linkedin.png", :height => "20px"%></a>
                  </div>
                </div>
              </div>
              <div class="col s3">
                <div class="card">
                  <div class="card-content center-align">
                    <!--<img class="circle" height="100px" src="https://s3.amazonaws.com/nvest/Blank_Club_Website_Avatar_Gray.jpg">--><%= image_tag "https://avatars2.githubusercontent.com/u/16996591?v=3&s=460", :height => "100px" %><br>
                    <span class="card-title" style="font-size:12pt;">Wayne Sun</span>
                  </div>
                  <div class="card-action green center-align">
                    <a class="black-text" href="https://github.com/waynesun95"><!--<img src="images/github.svg" style="height:20px;">--><%= image_tag "github.svg", :height => "20px" %></a>
                    <br>
                    <br>
                    <a class="black-text" href="https://www.linkedin.com/in/wanshusun/"><%= image_tag "linkedin.png", :height => "20px"%></a>
                  </div>
                </div>
              </div>
              <div class="col s3">
                <div class="card">
                  <div class="card-content center-align">
                    <!--<img class="circle" height="100px" src="https://s3.amazonaws.com/nvest/Blank_Club_Website_Avatar_Gray.jpg">--><%= image_tag "https://avatars1.githubusercontent.com/u/16982224?v=3&s=460", :height => "100px" %><br>
                    <span class="card-title small" style="font-size:12pt;">Luke Wielgus</span>
                  </div>
                  <div class="card-action blue center-align">
                    <a class="black-text" href="https://github.com/lukewielgus"><!--<img src="images/github.svg" style="height:20px;">--><%= image_tag "github.svg", :height => "20px" %></a>
                    <br>
                    <br>
                    <a class="black-text" href="https://www.linkedin.com/in/luke-wielgus-16925b131/"><%= image_tag "linkedin.png", :height => "20px"%></a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col hide-on-small-only m3 l2">
          <ul class="section table-of-contents" style="position:fixed;">
            <li><a href="#intro">About Us</a></li>
            <li><a href="#wikiclassification">WikiClassification</a></li>
            <!--<li><a href="#model">Our Model</a></li>-->
            <li><a href="#team">Our Team</a></li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <!--  Scripts-->
  <%= javascript_include_tag "https://code.jquery.com/jquery-2.1.1.min.js" %>
  <%= javascript_include_tag "js/materialize.js" %>
  <%= javascript_include_tag "js/init.js" %>

  </body>
</html>
